
body {
    font-family: 'Karla', san-serif;
    background-color: #FFFFFF;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none; 
    color: #000000;
}
ul {padding: 0; margin: 0}

li {
    list-style-type: none;
    padding: 0; margin: 0
}