
body {
    font-family: 'Karla', san-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* IE 10+ */
      overflow-y:scroll;
      overflow-x:hidden;
}
::-webkit-scrollbar {
    width: 0px;
  }
a {
    padding: 0;
    margin: 0;
    text-decoration: none; 
    color: #000000;
}
ul {padding: 0; margin: 0}

li {
    list-style-type: none;
    padding: 0; margin: 0
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}