
html {
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE 10+ */
}

body {
  font-family: 'Karla', sans-serif;  background-color: #FFFFFF;
    margin: 0;
    overflow-x: hidden;
    overflow-y:scroll;
    overflow-x:hidden;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 0px;
  }
a {
    padding: 0;
    margin: 0;
    text-decoration: none; 
    color: #000000;
}
ul {padding: 0; margin: 0}

li {
    list-style-type: none;
    padding: 0; margin: 0
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}